.diarydetail, .about{
    color: #7B7B7B;
    &-body{
        width: 100%;
        max-width: 710px;
        margin: 0 auto;
        padding: 70px 0;
    }
    &-title{
        font-size: 25px;
        margin-bottom: 50px;
    }
    &-date{
        display: block;
        font-size: 13px;
        margin-bottom: 35px;
    }
    &-content{
        font-size: 17px;
        line-height: 3;
    }
}
