.otherarticles{
    max-width:1800px;
    margin: 0 auto;
    &-body{
        @include flex;
        justify-content: center;
    }
    &-item{
        height: 350px;
        width: 500px;
        background-color: white;
        background-image: url('../../image/test/article.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0 50px;
        margin-bottom: 100px;
        box-sizing: border-box;
        border-radius: 7px;
        @include hover{
            opacity: 0.6;
        }
        &:last-child{
            margin-right: 0;
        }
        a{
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}
