.main {
  border-top: 3px solid #FFF7EF;
  background-color: #F7C9A8;
}
.main-body {
  min-height: calc(100vh - 80px - 3px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.header {
  position: static;
}
.header-space {
  display: none;
}
.logo {
  width: 100%;
  max-width: 600px;
}
.logo img {
  width: 100%;
}
.error {
  margin-bottom: 50px;
  color: #FFF7EF;
}
.error-title {
  font-size: 50px;
}
.error-message {
  font-size: 40px;
}
@media screen and (max-width: 769px) {
  .main-body {
    min-height: calc(100vh - 50px - 3px);
  }

  .error-title {
    font-size: 30px;
  }
  .error-message {
    font-size: 20px;
  }
}
