.announcementshow{
    min-height: calc(100vh - 80px);
    border-top: 3px solid #FFF7EF;
    background-color: #F7C9A8;
    padding: 50px 30px;
    &-body{
        background-color: #FFF7EF;
        border-radius: 7px;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
        padding: 60px 50px;
        color: #7B7B7B;
        font-size: 20px;
    }
    &-title{
        margin-bottom: 50px;
    }
    &-content{
        line-height: 1.7;
    }
}




@include tablet{
    .announcementshow{
        height: calc(100vh - 50px);
        padding: 40px 30px;
        &-body{
            padding: 30px 20px;
            font-size: 15px
        }
        &-title{
            margin-bottom: 40px;
        }
    }
}
