.showmenu{
    position: fixed;
    z-index: 10;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%) translateX(350px);
    &-body{
        position: relative;
        height: 60px;
        width: 60px;
    }
    &-item, &-head{
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #F7C9A8;
        border-radius: 100px;
        &>a, &>p{
            color: #FFF7EF;
            font-size: 30px;
            display: block;
            line-height: 60px;
            text-align: center;
        }
    }
    &-item{
        z-index: 1;
        transition: .3s;
        &:nth-child(2){
        }
        &:nth-child(3){
            transition-delay: .05s;
        }
        &:nth-child(4){
            transition-delay: .1s;
        }
    }
    &-head{
        z-index: 2;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;

    }

    .opened &-item{
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        &:nth-child(2){
            transform: translateY(-200%);
        }
        &:nth-child(3){
            transform: rotate(45deg) translateX(-200%) rotate(-45deg);
        }
        &:nth-child(4){
            transform: translateX(-200%);
        }
    }
}




@include laptop{
    .showmenu{
        right: 20px;
        bottom: 30px;
        transform: none;
    }
}




.diarymenu{
    position: fixed;
    bottom: 100px;
    right: 100px;

    li{list-style: none;}

    &-body{
        position: relative;
    }

    &-head, &-item{
        height: 100px;
        width: 100px;
        background-color: #F7C9A8;
        border-radius: 100px;
        text-align: center;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
        p, a{
            line-height: 100px;
            color: white;
            text-decoration: none;
            display: block;
        }
    }

    &-item{
        transition: .3s;
        z-index: 0;
    }
    &.opened &-item{
        bottom: 130px;
        &:last-child{
            bottom: 260px;
        }
    }

}
