.diaryshow{
    color: #7B7B7B;
    &-body{
        box-sizing: border-box;
        width: 100vw;
        max-width: 600px;
        margin: 0 auto;
        padding: 90px 20px;
    }
    &-title, &-date, &-content{
        margin-bottom: 40px;
    }
    &-title{
        font-size: 25px;
        line-height: 1;
    }
    &-date{
        font-size: 15px;
    }
    &-content{
        font-size: 20px;
        line-height: 2;
        a{
            color: #8FB8F7;
        }
    }
}



@include tablet{
    .diaryshow{
        &-body{
            padding: 30px 20px;
        }
        &-title{
            font-size: 20px;
        }
        &-date{
            font-size: 12px;
        }
        &-content{
            font-size: 15px;
        }
    }
}
