@import "../utility";
@import "../variables";



// Fonts
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');


html, body{
    height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}



.header{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}



.main{
    &-body{
        background-color: #FFF7EF;
        min-height: calc(100vh - 80px);
    }
}

@include tablet{
    .main{
        &-body{
            min-height: calc(100vh - 50px);
        }
    }
}



@import "show";
@import "showMenu";
@import "dialog";
@import "editor";
@import "list";
