.graybackground{
    position: fixed;
    left: 0;
    top: 80px;
    z-index: 1;
    &-body{
        height: calc(100vh - 80px);
        width: 100vw;
        background-color: #7B7B7B;
        opacity: 0.2;
    }

    &.v-enter-active, &.v-leave-active{
        transition: .3s;
    }
    &.v-enter-from, &.v-leave-to{
        opacity: 0;
    }
    &.v-enter-to, &.v-leave-from{
        opacity: 1;
    }
}




@include tablet{
    .graybackground{
        top: 50px;
        &-body{
            height: calc(100vh - 50px);
        }
    }
}
