.messanger{
    position: fixed;
    z-index: 10;
    top: 110px;
    left: 50%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100vw;
    transform: translateX(-50%);
    &-body{
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        width: 100%;
    }
    &-itemwrapper{
        width: 100%;
        margin-bottom: 20px;

        &.v-enter-active, &.v-leave-active{
            transition: .3s;
        }
        &.v-enter-from, &.v-leave-to{
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
        }
        &.v-enter-from{transform: translateY(-30px);}
        &.v-leave-to{transform: translateY(10px);}
        &.v-enter-to, &.v-leave-from{
            opacity: 1;
            max-height: 53px;
            transform: none;
            margin-bottom: 20px;
        }
    }
    &-item{
        font-size: 20px;
        padding: 15px;
        width: 100%;
        text-align: center;
        border-radius: 50px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        .fas{
            margin-right: 5px;
        }

        &.success{
            background-color: #C4F7C1;
            color: #707070;
        }
        &.warning{
            background-color: #F7A79C;
            color: #FFF7EF;
        }
        &.news{
            background-color: #8FEEF7;
            color: #707070;
        }
    }
}




@include tablet{
    .messanger{
        top: 80px;
        &-item{
            font-size: 15px;
        }
    }
}
