// フレックスmix
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}




// ホバーmixin 時間を渡せる
@mixin hover($time: .2s){
    transition: $time;
    &:hover{
        @content;
    }
}



// スクロールバー消去
@mixin hide-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{display: none;}
}






@mixin desktop{
    @media screen and (min-width: '769px'){
        @content;
    }
}
@mixin tablet{
    @media screen and (max-width: '769px'){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width: '481px'){
        @content;
    }
}
