.diarylist{
    &-body{
        width: 100vw;
        max-width: 1260px;
        margin: 0 auto;
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &-recommendtext{
        color: #7b7b7b;
        font-size: 20px;
        line-height: 40px;
        text-align: left;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        padding: 50px 30px 0;
        margin-bottom: -20px;
    }
    &-item{
        height: 270px;
        width: 380px;
        background-color: white;
        margin: 0 20px;
        margin-bottom: 90px;
        box-sizing: border-box;
        border-radius: 7px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        @include hover{
            opacity: 0.6;
        }

        padding-left: 30px;
        padding-top: 30px;
        overflow: hidden;
        position: relative;

        a{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        &-title, &-date, &-contents{
            color: #7B7B7B;
            margin-bottom: 35px;
            white-space: nowrap;
        }
        &-title{
            font-size: 20px;
        }
        &-date{
            font-size: 12px;
        }
        &-contents{
            font-size: 15px;
            line-height: 2;
        }
    }
    &-null{
        min-height: calc(100vh - 80px - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-message{
            width: 100%;
            text-align: center;
            font-size: 20px;
            color: #7b7b7b;
            margin-bottom: 40px;
        }
        &-image{
            width: 80%;
            max-width: 500px;
            display: block;
        }
    }
}



@include tablet{
    .diarylist{
        &-recommendtext{
            font-size: 18px;
            padding: 40px 10px 0;
        }
        &-null{
            min-height: calc(100vh - 50px - 100px);
        }
    }
}



@include mobile{
    .diarylist{
        &-recommendtext{
            text-align: center;
            font-size: 16px;
        }
        &-item{
            width: 100%;
            height: 191px;
            margin: 0 40px;
            margin-bottom: 40px;
            padding-left: 20px;
            padding-top: 15px;
        }
        &-title, &-date, &-contents{
            margin-bottom: 20px;
        }
    }
}
